<h1>メッセージ一覧</h1>
<ul>
  <% @messages.each do |messages| %>
  
<li><%= link_to messages.id,messages %> : <%= message.title%> > <%= messages.content%></li>
  <% end %>
</ul>

<%= link_to '新規メッセージの投稿', new_message_path %>
